{% render 'partials/head.liquid', title: 'Squad page' %}

<button class="filter">Filter</button>
<button class="sort">Sort</button>

<section>
  {% for person in personsBoekenPlank1 %}
    
    <article class="genre-{{ person.fav_book_genre }}">
      <a href="/student/{{ person.id }}">{{ person.name | split: ' ' | first }}</a>
    </article>

  {% endfor %}
</section>
  

<section>
  {% for person in personsBoekenPlank2 %}
    
    <article class="genre-{{ person.fav_book_genre }}">
      <a href="/student/{{ person.id }}">{{ person.name  | split: ' ' | first }}</a>
    </article>

  {% endfor %}
</section>
  

<section>
  {% for person in personsBoekenPlank3 %}
    
    <article class="genre-{{ person.fav_book_genre }}">
      <a href="/student/{{ person.id }}">{{ person.name  | split: ' ' | first }}</a>
    </article>

  {% endfor %}
</section>

{% render 'partials/foot.liquid', squads: squads %}